.profile {
    width: 315px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 5px;
    color: #9EA9B5;
    font-size: 14px;
    line-height: 1.8em;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    
}

.avatar{
    width: 120px;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
    background-color: #e7ecf2;
    border: 7px solid #e7ecf2;
}

.stats {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #F3F6F9;
    border: 1px solid #E9EDF3;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #E9EDF3;
    width: calc(100%/3);
}

.name {
    font-size: 18px;
    font-weight: 700;
    color: #122236;
}

.label{
    font-size: 12px;
}

.quantity{
    font-weight: 700;
    color: #122236;
    line-height: 1.2em;
}

