.transactions {
    min-width: 300px;
    max-width: 800px;
    background-color: #fff;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 100px;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);

}

thead {
    background-color: #00BCD5;
    height: 50px;
    text-transform: uppercase;
    color: #fff;

}

th:not(:last-child) {
    border-right: 1px solid #fff; 
}

td {
    width: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

td:not(:last-child) {
    border-right: 1px solid #EAEAEA; 
}

table tr:nth-child(2n) {
    background-color: #ECF1F4;
}

.type {
    text-transform: capitalize;
}

.amount{
    font-weight: 700;
    font-size: 14px;
    color: #466b8c;
}